@page
@model AttendanceRecord.Pages.AdminMenuModel
@{
    Layout = "_Layout";
}

<head>
    <meta charset="UTF-8">
    <title>管理者メニュー</title>
    <link rel="stylesheet" href="~/css/style.css">

</head>