@page
@model AttendanceRecord.Pages.SalesSupportModel
@{
    Layout = "_Layout";
}

<head>
    <meta charset="UTF-8">
    <title>営業支援システム</title>
    <link rel="stylesheet" href="~/css/style.css">

</head>
